

.lightZone{
    background-color: #DCE4F2; 
    color: #0A2C59;
}

.darkZone{
    background-color: #0A2C59; 
    color: #DCE4F2;
}

.lightZone h1{
    border-bottom: solid #0A2C59;
    font-size: 38px;
}

.darkZone h1{
    border-bottom: solid #DCE4F2;
    font-size: 38px;
}